body {
    background-color: lightblue;
	font-family : arial, calibri, sans-serif;
}
article,aside,details,footer,header,nav,section {
 display:block
}
a:link {color: black;}
a:visited {color: darkblue;}
a:hover {color: red;}
a:active {color: red;}

header {
	background-color: #FDF1B8;
	border-bottom : thick solid darkblue;
	font-size : 20px;
}
header h1 {
	text-align: center;
	color : #000099;
}

header img {
	float: right;
    height: 145px;
	width: auto;
}

header nav ul { 
	display: flex;
	height:50px;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: space-around;
}
header nav ul li{

  display: inline;
}

header nav ul img {
    width: 20px;
    height: auto;
}

#container {
	display: flex;
	flex-direction: row;
}


div.span-4 { 

}

div.span-20 img:hover, #panier img:hover {
    border: 3px solid black;
	border-radius: 0.5em;
}

div.span-20 img, #panier img {
	background-color: white;
    border: 3px solid gray;
	border-radius: 0.5em;
    width: 200px;
    height: auto;
}
div.span-20 h1 { 
	padding-top: 0.5em;
	background-color: green;	
}

div.desc {
    padding: 15px;
    text-align: center;
	background-color : lightgray;
}



#corps { 
	display: flex;
	flex-direction: column;
}


footer ul {
	border-top: thick solid darkblue;
	padding-top: 0.3em;
	text-align: center;
	
}
footer ul li { 
	display: inline;
	
}
footer ul li + li:before {
	content: "|";
	margin: 1em;
}

